@model List<Ext_Dynamic_Form.Models.ActivityDetail>
@{
    ViewData["Title"] = "_DynamicFormPartial";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model == null || !Model.Any())
{
    <div class="alert alert-warning">No fields found for this activity.</div>
}
else
{
    <h3>@ViewBag.ActivityTitle</h3>

    <form asp-action="RegisterSubmit" method="post" enctype="multipart/form-data">
        @foreach (var field in Model)
        {
            <div class="form-group mb-2">
                <label>@field.Title</label>

                @{
                    var filedName = "filed_" + field.ID;

                    if(field.Title.Equals("Country", StringComparison.OrdinalIgnoreCase))
                    {
                        <select id="ddlCountry" name="@filedName" class="form-control">
                        <option>--- Select Country ---</option>
                        </select>
                    }
                    else if (field.Title.Equals("State", StringComparison.OrdinalIgnoreCase))
                    {
                        <select id="ddlState" name="@filedName" class="form-control">
                        <option>--- select City ---</option>
                        </select>
                    }
                    else if(field.Title.Equals("City", StringComparison.OrdinalIgnoreCase))
                    {
                        <select id="ddlCity" name="@filedName" class="form-control">
                            <option>---Select City---</option>
                        </select>
                    }
                    else{

                        switch (field.ActionTypeId)
                    {
                        case 1: 
                            <select name="Field_@field.ID" class="form-control">
                                <option value="">-- Select --</option>
                            </select>
                            ;
                            break;

                        case 2: 
                            <input type="text" name="Field_@field.ID" class="form-control" />
                            ;
                            break;

                        case 3: 
                            <select name="Field_@field.ID" class="form-control">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            ;
                            break;

                        case 4: 
                            <input type="number" name="Field_@field.ID" class="form-control" />
                            ;
                            break;

                        case 5:
                            <input type="checkbox" name="Field_@field.ID" value="1" />
                            ;
                            break;

                        case 6:
                            <input type="number" min="1" max="5" name="Field_@field.ID" class="form-control" />
                            ;
                            break;

                        case 7: 
                            <textarea name="Field_@field.ID" class="form-control"></textarea>
                            ;
                            break;

                        case 8: 
                            <input type="date" name="Field_@field.ID" class="form-control" />
                            ;
                            break;

                        case 10: 
                            <input type="file" name="Field_@field.ID" class="form-control" />
                            ;
                            break;

                            
                        
                    }
                    }
                }
            </div>
        }

        <input type="hidden" name="ActivityId" value="@Model.FirstOrDefault()?.ActivityId" />
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
}


