@model List<Ext_Dynamic_Form.Models.ActivityDetail>

@{
    ViewData["Title"] = "_DynamicForm";
}

<form id="dynamicForm">
    @foreach (var field in Model)
    {
        var fieldName = field.Title.Replace(" ", "_"); 

        <div class="form-group mb-2">
            <label>@field.Title</label>

            @switch (field.ActionTypeId)
            {
                case 1: 
                    <select name="@fieldName" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                    break;

                case 2: 
                    <input type="text" name="@fieldName" class="form-control" />
                    break;

                case 3: 
                    <select name="@fieldName" class="form-control">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    break;

                case 4: 
                    <input type="number" name="@fieldName" class="form-control" />
                    break;

                case 5: 
                    <input type="checkbox" name="@fieldName" value="1" />
                    break;

                case 6: 
                    <input type="number" min="1" max="5" name="@fieldName" class="form-control" />
                    break;

                case 7: 
                    <textarea name="@fieldName" class="form-control"></textarea>
                    break;

                case 8: 
                    <input type="date" name="@fieldName" class="form-control" />
                    break;

                case 10: 
                    <input type="file" name="@fieldName" class="form-control" />
                    break;
            }
        </div>
    }
    <input type="hidden" name="ActivityId" value="@Model.FirstOrDefault()?.ActivityId" />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" id="clearForm" class="btn btn-secondary">Clear</button>
</form>

<script>
    $(document).ready(function () {

        $("#clearForm").click(function () {
            
            var form = $("#dynamicForm")[0];
            form.reset();

            $(form).find('input[type="checkbox"]').prop('checked', false);

            
            $(form).find('input[type="file"]').val('');

            
            $("#submittedDataBody").empty();

           
            $("#submittedDataSection").hide();
        });

    });
</script>

