@model IEnumerable<Ext_Dynamic_Form.Models.Page>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pages List</h2>
<a asp-action="Create" class="btn btn-primary mb-3">Create New Page</a>

<table class="table table-bordered" id="pageTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Ajax URL</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pages in Model)
        {
            <tr>
                <td>@pages.ID</td>
                <td>@pages.Title</td>
                <td>@pages.AjaxURL</td>
                <td>@pages.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@pages.ID" class="btn btn-sm btn-warning">Edit</a>
                    <form asp-action="Delete" asp-route-id="@pages.ID" method="post" style="display:inline-block;"
                          onsubmit="return confirm('Are you sure you want to delete this activity?');">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#pageTable').DataTable({
                "paging": true,
                "pageLength": 10,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });

            
        });
    </script>
}